body{
    margin:auto;
}

.container-fluid{
    padding-left:5px;
    padding-right:1px;

}
.navbar-brand{
    color:rgb(236, 29, 133);
    font-size:40px !important;
    font-family: 'Pacifico';
} 

#location{
    font-weight: bold;
    font-size:20px;
}
#upnav{
    font-family: 'Poppins';
    margin-right:5%;
}

#navbrsupport{
    
    margin-left:30px;
    
}
.nav-link{
    color:black;
    
}

i{
    color:rgb(236, 29, 133);
}

.modal-title{
   margin-left:40%;
   margin-top:-7%;
   font-family: 'Pacifico';

}

.modal-header {
    border-bottom: none;
}
#sublabel{
    margin-top:40px;
    margin-left:-25%;
}

.divider {
	width:100%;
	text-align:center;
    margin-top:-2%;
}

.divider hr {
	margin-left:auto;
	margin-right:auto;
	width:40%;
}

.left {
	float:left;
}

.right {
	float:right;

}


.card{
    height:101px;
    width:101px;
    display:inline-block;
    margin-left:5%;
    
}

.card:hover{
    transform:scale(1.1);
    
}

.dropdown-menu{
    border-bottom:5px solid rgb(175, 57, 126);
 }

.card>img{
    height:100px;
    width:100px;
   
}

.subheading{
    color: rgb(4, 4, 44) !important;
    margin-top:2%;
    text-align:center;
}
    
.divider2 {
	width:100%;
	text-align:center;
    margin-top:-1%;
}

.divider2 hr {
	margin-left:auto;
	margin-right:auto;
	width:40%;
}

.other_city_names{
    width:100%;
    text-align:center;
} 
 

.modal-footer {
    justify-content: start;
    border-top:none;
}

.row{
    margin-left:90px !important;
}

.row:hover{
    color:rgb(175, 57, 126);
}


div#cakecarousel{
    background-color:rgb(238, 161, 176)!important;
    width:20%;
    margin-left:40%;
    margin-bottom:2%;
}

#banner{
    width: 70% !important;
    height:40%;
    margin-top:2%;
    margin-left:15%;
}

.topicname{
    color:rgb(19, 17, 18);
    font-size:30px !important;
    font-family: 'Pacifico';
    text-align:center;
    margin-top:20px;
}

#lsmodal{
   background-color:#a21fba7a;
}   

.form-group{
    color:bisque;
}

.form-check-label{
    color:bisque;
}

#loginHelp{
    color:black;
}

#lgbtn{
    color:rgb(238, 223, 12);
    font-weight:bold;
    
}

#logpill{
    color: #e0d4c8;
}

#signpill{
    color: #e0d4c8;
}

h4#imgtitle{
    text-align:center;
    color:black;
}

.subtitle{
    color:grey;
    font-size:13px;
    text-align: center;
}

div#flavourcard:hover {
 border:5px solid rgb(228, 127, 144);
 transform:scale(0.9); 
 box-shadow:none;
 
}
.col-md-3 {
    width:25%;
}

div#flavourrow{
    margin-left: 9px !important;
}


h1#tag{
    color:black;
    font-family: 'Pacifico';
    font: weight 30px !important;
    margin-top:30px;
}

.card.text-center.p-3{
    height:230px !important;
    width:25rem;
    margin-left:-8%;
    background-color: #c5ccd2;
    transform:none !important;
}

div#featurecard{
    width:33%;
    border:10px solid black!important;
}


div#featurerow{
    margin-left:10px;
   }

div#featurerow:hover{
color:rgba(0, 0, 0, 0.705);
}



.aboutusinfo{
    float:right!important;
    
}


.tileComponent1{
    float:right;
    
}

.tileComponent2{
    float:left;
    vertical-align:top;
    word-wrap: break-word!important;
    height:600px;
    width:45%;
   
 }

 .headinginfo{
    font-family: 'Pacifico';
     font-size:40px;
     font-weight:bold;
    
 }

 .subinfo{
    font-family:'Poppins';
    font-size: 20px;
    color:#75747a;
}

p.card-text{
    font-family: 'Poppins';
}


.blogcontainer{
    height:700px;
    width:100%;
}

#blogimg{
    height:630px;
    width:500px;
    margin-left:10%;
    float:left;

}


.blogcomponent2{
    height:600px;
    width:40%;
  
    float:right;
    margin-right: 5%;
    margin-top: -36%!important;

}

.blogtitle{
    font-family: 'Pacifico';
    font-size:45px;
}

#ratinginfo2{
    height: 90px!important;
    width: 90px!important;
}

#ratinginfo3{
    height: 90px!important;
    width: 90px!important;
}

#ratinginfo1{
    font-family:'Poppins';
    font-size: 25px;
}

.rating{
    margin-left:5%;
}

.carouselheading{
    color:rgb(247, 241, 241);
    margin-top:-20%;
}

.carouselsubheading{
    color:rgb(22, 20, 20);
    font-weight: bold;
   
}

.carousel-caption{
    margin-right:50%!important;
    position:absolute;
    bottom: 16rem;
;
    
  

}
.carousel-indicators{
    margin-left:20%;
    margin-bottom: 10rem;
    background-color: rgb(255 126 124)!important;
   width:50px;
}

div#footercontainer{
    margin-top:40%;
    background-image:url("../images/Wallp.jpg")!important;
    background-repeat:no-repeat;
    overflow-y: hidden; /* Hide vertical scrollbar */
    width:100%;
   height:400px;
   overflow-x: hidden;
}

div#footidleft{
    font-family:'Poppins';
    font-size:20px;
    margin-left:70px;
    display:block;
    width:100%;
    letter-spacing: 3px;
    line-height: 2.6;
  
    
}



div#footidcenter{
    font-family:'Poppins';
    font-size:20px;
    margin-top:5px;
    width:100%;
    letter-spacing: 3px;
    line-height: 2.6;
 

    
}

div#footidright{
    font-family:'Poppins';
    font-size:20px; 
    width:100%;
    letter-spacing: 3px;
    line-height: 2.6;
  
} 

div#footerclass{
    display:inline-block;
    margin-left:100px !important;
    margin-top:20px;
}

div#footerclass:hover{
    color:rgb(66, 71, 71);
   
}

.footerlist{
    font-size:15px;
    font-family:'Poppins';
    color:gray;

}
.footerlist:hover{
    transform:scale(1.1);
    color:hotpink;
}

.footerhead{
    font-weight: bold;
}

#footerlogo{
    text-align:center;
   
}

.list-inline-item{
    font-size:40px;
    letter-spacing:10px;

}

.ftmainlogo{
    font-size:60px;
    font-family: 'Pacifico';
    color:rgb(236, 29, 133);
}

#copyright{
    font-size:20px;
    color:grey;
    font-family:'Poppins';
}

div#paymentfooter{
    margin-left:60%;
}

#paymentstat{
    font-size:20px;
    font-family:'Poppins';
    vertical-align:top ;
    color:grey
}



.paymenicon>i{
   font-size:42px;
   width:4%;
   color:rgb(102 6 90);
}

.text-danger {
 color:#d81476 !important;
 font-size:15px;
 margin-left:1%;
}
